cargo.northeurope.cloudapp.azure.com {
    # 1. Route for Keycloak
    handle /keycloak* {
        reverse_proxy keycloak:8080
    }
    
    # 2. Route for API Gateway
    handle /api/* {
        reverse_proxy gateway:8080
    }
    
    # 3. Route for Main Address (Root /) Will be Docs
    handle {
        reverse_proxy customer-service:8080
    }
}
# 'handle' keeps the /keycloak prefix when sending the request to the container
# 'handle_path' STRIPS the /api prefix before sending it to the container
# (e.g., /api/users becomes just /users when it hits the gateway)